---
# Front matter comment to ensure Jekyll properly reads the file.
---

// Place list of your partial imports below, located in assets/_scss.

@import 'all';
@import "variables";

//Compontents
@import "components/typography";

//Extends
@import "extends/card";

// Modules
@import 'modules/footer';
@import 'modules/header';

//Pages
@import 'pages/index';
@import 'pages/product';
@import 'pages/products';
@import 'pages/listing';
@import 'pages/404';

// general
h1, h2, h3, h4, h5, h6 {
  color: #205493;
}

.usa-content{
  text-align:center;
  margin-bottom:75px;
  p{
    max-width:100%;
  }
}

// error
.error {
  background-color:#dce4ef;
  text-align:center;
  min-height:450px;
}

// responsive
@media screen and (min-width:600px) {
  .usa-disclaimer-official {
    padding-left: 3rem;
  }
  .usa-grid .usa-width-one-third{
    margin-right:2.82916%;
  }
}

@media screen and (min-width:1201px) {
  .usa-disclaimer-stage {
    display:block;
  }
  .usa-grid .usa-width-one-third{
    margin-right:1.35765%;
  }
}
