---
layout: home
---

<div class="usa-hero">
  <div class="usa-hero-overlay">
    {% include header.html %}
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        <h2>BE MORE PRODUCTIVE</h2>
        <h5>Search and compare cloud technologies.</h5>
        <a href="/products" class="usa-button usa-button-secondary" id="products-button">Explore Products</a>
      </div>
    </div>
    <div class="hero-search">
      <div class="hero-search-container">
        <form action="/products" class="usa-search usa-search-big">
          <div role="search">
            <label class="usa-sr-only" for="search-field-big">Search big</label>
            <input id="search-field-big" type="search" name="q" placeholder="what are you looking for? Click or press / to start searching">
            <button type="submit">
              <span class="usa-search-submit-text">Search</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="usa-content">
  <section class="features">
    <div class="usa-grid">
      <h1>Find the right product for your team.</h1>
      <div class="usa-grid">
        <div class="usa-width-one-half features-description">
          <ul>
            <li>
              <h2>Explore and compare products.</h2>
              <p>
                Apps.gov features over 100 cutting-edge products to make your team more productive.
              </p>
            </li>
            <li>
              <h2>Quickly evaluate a product.</h2>
              <p>
                Each product page includes information on requirements, ATO’s, and procurement options.
              </p>
            </li>
          </ul>
        </div>
        <div class="home-products-list usa-width-one-half">
          <ul class="product-logos">
            {% assign urlList = ',' %}
            {% for product_hash in site.data.products | limit: 46 %}{% assign product = product_hash[1] %}
              {% if product.logo_url %}
                {% capture compareUrl %},{{ product.logo_url }},{% endcapture %}
                {% if urlList contains compareUrl %}{% else %}
                  <li class="product-logo">
                     <img src="{{ product.logo_url }}">
                  </li>
                  {% capture tempList %}{{ urlList }}{{ product.logo_url }},{% endcapture %}
                  {% assign urlList = tempList %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
          <div class="gradient">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="list-product">
    <div class="usa-grid">
      <h1>Sell to the Federal Government</h1>
      <p>
        Apps.gov is a marketplace serving <span id="gov-stat">4.2 million</span> federal employees. Learn
        more about listing your product.
      </p>

      <a href="/listing" class="usa-button usa-button-secondary">List your Product <i class="fa fa-angle-double-right"></i></a>
    </div>
  </section>
</div>
