<footer class="usa-footer usa-footer-medium usa-sans usa-background-dark" role="contentinfo">
  <div class="usa-footer-secondary_section">
    <div class="usa-grid-full">
      <div class="usa-footer-logo usa-width-one-half">
        <a href="https://presidentialinnovationfellows.gov"><img class="usa-footer-logo-img" src="/img/logos/pif.png" alt="PIF Logo"></a>
        <a href="http://www.gsa.gov"><img class="usa-footer-logo-img" src="/img/customers/GSA.png" alt="GSA Logo"></a>
        <br/><br/>
        A federal government website managed by the U.S. General Services Administration.<br/>1800 F Street Northwest, Washington, DC 20405
      </div>
      <div class="usa-footer-contact-links usa-width-one-half">
        <address>
          <h3 class="usa-footer-contact-heading">Apps.Gov</h3>
          <p>
            <a href="{{ site.url }}">https://apps.gov</a> | <a herf="https://github.com/presidential-innovation-fellows/apps-gov" target="blank">GitHub</a><br/>
            <a href="mailto:apps-gov@gsa.gov" target="blank">apps-gov@gsa.gov</a><br/>
            <a href="{{ baseurl }}/sitemap.xml" target="blank">Sitemap</a> | <a href="http://www.gsa.gov/portal/content/116609" target="blank">Privacy Policy</a> | <a href="https://18f.gsa.gov/linking-policy/" target="blank">Linking Policy</a>
          </p>
        </address>
      </div>
    </div>
  </div>
</div>