<footer class="usa-footer usa-footer-medium usa-sans usa-background-dark" role="contentinfo">
  <div class="usa-footer-secondary_section">
    <div class="usa-grid-full">
      <div class="usa-footer-logo usa-width-two-thirds">
        <a href="http://www.gsa.gov"><img class="usa-footer-logo-img" src="/img/logos/gsa.png" alt="GSA Logo"></a>
        <a href="https://18f.gsa.gov"><img class="usa-footer-logo-img" src="/img/logos/18f.png" alt="18F Logo"></a>
        <a href="https://presidentialinnovationfellows.gov"><img class="usa-footer-logo-img" src="/img/logos/pif.png" alt="PIF Logo"></a>
      </div>
      <div class="usa-footer-contact-links usa-width-one-third">
        <address>
          <h3 class="usa-footer-contact-heading">Apps.Gov</h3>
          <p>
            <a href="https://apps.pif.gov">https://apps.pif.gov</a> | <a herf="https://github.com/presidential-innovation-fellows/apps-gov">GitHub</a><br/>
            <a href="mailto:apps@listserv.gsa.gov">apps@listserv.gsa.gov</a>
          </p>
        </address>
      </div>
    </div>
  </div>
</div>