<head>
  <!-- Basic Page Needs
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title and meta description
  ================================================== -->
  <title>{% if page.title %}{{ page.title }} | {{site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
  {% endif %}

  <!-- Google+ -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta itemprop="image" content="{% if page.img %}{{ page.img }}{% else %}{{ site.url }}/assets/img/apps-gov-og.jpg{% endif %}"/>

  <!-- Facebook OG -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{% if page.title %}{{ site.url }}{{ page.permalink }}{% else %}{{ site.url }}{% endif %}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image" content="{% if page.img %}{{ page.img }}{% else %}{{ site.url }}/assets/img/apps-gov-og.jpg{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="fb:admins" content="123456789" />

  <!-- Twitter -->
  <meta name="twitter:card" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:site" content="{% if page.twitter %}@{{ page.twitter }}{% else %}@innovfellows{% endif %}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:creator" content="{% if page.twitter %}@{{ page.twitter }}{% else %}@innovfellows{% endif %}" />
  <meta name="twitter:image:src" content="{% if page.img %}{{ page.img }}{% else %}{{ site.url }}/assets/img/apps-gov-og.jpg{% endif %}" />


  <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/assets/js/vendor/html5shiv.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
    <!-- 128x128 -->
    <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/img/favicons/favicon.ico" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon.png" />

    <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/assets/img/favicons/favicon-192.png" />

    <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/img/favicons/favicon-57.png">
    <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/img/favicons/favicon-72.png">
    <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/img/favicons/favicon-114.png">
    <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/img/favicons/favicon-144.png">

  <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/google-fonts.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/normalize.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <meta name="google-site-verification" content="SRwwl7Aj1_1enZSUjFyQqX2NPBpPAPcJPhHpOuXzh8I" />
</head>
