
<nav class="usa-hero-navbar">
  <div class="usa-grid">
    <h1 class="logo">
      <a href="/">
        {% if page.layout == 'home' %}
          <img src="{{site.baseurl}}/assets/img/apps-logo-alt-light.svg">
        {% else %}
          <img src="{{site.baseurl}}/assets/img/apps-logo-alt.svg">
        {% endif %}
      </a>
    </h1>
    <ul>
      <li class="search-products">
        <form id="product-search-form" action="/products" class="usa-search">
          <div role="search">
            <label class="usa-sr-only" for="search-field">Search medium</label>
            <input id="search-field" type="search" name="q" placeholder="Click or press / to ...">
            <button type="submit">
              <span class="usa-search-submit-text">Search</span>
            </button>
          </div>
        </form>
      </li>
      <!-- <li><a href="/listing" class="usa-button usa-button-gray">List your Product</a></li> -->
    </ul>
  </div>
</nav>
