.usa-disclaimer-official{
  padding-left:2rem;
}
.usa-disclaimer-stage {
  padding-right:3rem;
}

.usa-hero-navbar{
  padding-left:3rem;
  padding-right:3rem;
  padding-top:1rem;

  h1{
    margin-top:0;
    display:inline;
    float:left;
    font-family:$font-sans;
  }

  .usa-button-gray,
  .usa-button-outline-inverse {
    float: right;
  }

  ul{
    float:right;
    color:#fff;
    display:inline;

    li{
      float:left;
      margin-top:10px;

      &:before{
        content:"";
      }

      button{
        margin-top:0px;
      }

      form{
        margin-top:2px;
      }

      &:last-child{
        margin-left:15px;
      }
    }
  }

  a{

    &:visited{
      color:$color-primary;
    }

    &:hover{
      text-decoration:none;
    }
  }
}
