$site-baseurl: '/site/presidential-innovation-fellows/apps-gov';

body {
  background-color: lighten($color-gray-light, 28);
  -webkit-font-smoothing: antialias;
}

a {
  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

ul {
  display: block;

  li {

    &::before {
      content: "";
    }
  }
}

.usa-hero{
  background-attachment: scroll;
  background-image: url('#{$site-baseurl}/assets/img/wh-hero.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  text-align:center;
  min-height:550px;

  .usa-hero-overlay {
    background-color: rgba(0,0,0,0.5);
    min-height:550px;
  }
}

.features {
  margin-bottom:50px;

  h1{
    margin-bottom:40px;
  }

  h2 {
    font-size: 1.75em;
    margin-top: 0;
    text-align: left;
  }

  p {
    text-align: left;
  }

  .product-logo {
    @extend %card;
    border-radius: 0.5em;
    display: block;
    float: left;
    height: 60px;
    line-height: 30px;
    margin-right: 10px;
    padding: 0.5em;
    width: 60px;

    &:nth-child(n+11) {
      display: none;

      @include media(435px) {
        display: block;
      }
    }

    &:nth-child(n+15) {
      display: none;

      @include media(750px) {
        display: block;
      }
    }

    &:nth-child(n+21) {
      display: none;

      @include media(800px) {
        display: block;
      }
    }

    img {
      vertical-align: middle;
      width: 100%;
    }
  }

  .product-logos {
    @include clearfix;
    margin-top: 1em;
  }

  .usa-width-one-half {
    @include clearfix;
    display: block;
    float: left;
    max-width: 500px;
    width: 100%;

    @include media(750px) {
      @include span-columns(6);
      max-width: none;
    }
  }
}

.hero-search {
  background-color: rgba(0,0,0,0.6);
  margin-top: 6em;
  padding: 2.5em 1em;
  width: 100%;

  input {

    &[type="search"] {
      max-width: none;
    }
  }
}

.hero-search-container {
  margin: 0 auto;
  max-width: 40em;
}

.home-layout {

  .search-products {
    display: none;
  }

  .usa-button-gray {
    background: transparent;
    box-shadow: $button-stroke $color-white;
    margin: 0;
  }

  .usa-disclaimer {
    background-color: lighten($color-gray-light, 20);
    color: $color-gray-dark;
  }

  .usa-content {
    margin-bottom: 0;
  }
}

.home-products-list {
  position: relative;

  .gradient {
    @include background-image(linear-gradient(bottom, lighten($color-gray-light, 28) 10%, transparent));
    bottom: 0;
    display: none;
    height: 300px;
    left: 0;
    position: absolute;
    right: 0;

    @include media(750px) {
      display: block;
    }
  }
}

.list-product {
  background-color: lighten($color-gray, 15);
  padding: 2em 0;

  h1 {
    color: $color-white;
    margin: 0;
  }

  p {
    color: $color-white;
    font-size: 1.2em;

    #gov-stat{
      font-size:1.7em;
      font-weight:bold;
    }
  }

}

.usa-grid {
  padding: 0 1rem;

  @include media($medium-screen) {
    padding: 0 3rem;
  }
}

.usa-hero{
  background-attachment: scroll;
  background-image: url('#{$site-baseurl}/assets/img/wh-hero.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  text-align:center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-white;
  }

  h2{
    font-family: $font-sans;
    font-size: 5.5rem;
    margin-bottom: 0;
    margin-top: 2.25em;
  }

  h5 {
    font-family: $font-sans;
    font-size: 2.4rem;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .usa-button {
    padding: 0.75em 1.1em;
  }

  .usa-hero-overlay{
    background-color: rgba(0,0,0,0.5);
  }
}
