.listing{
  margin-top:50px;
  margin-bottom:125px;
  h3{
  	color:#e31c3d;
  	text-align:center;
  	font-size:3rem;
  	margin-top:25px;
  }
  aside{
    margin-top:50px;
  }
  #listing-button{
  	text-align:center;
  }
  a.usa-button-big{
  	&:visited{
  		color:#fff;
  	}
  }
  #contracts-list, #certs-list, #ato-list, #testing-list{
    display:none;
  }
  ul{
    margin-bottom:0px;
    li::before{
      content:"•";
    }
  }
}