.listing {
  margin-bottom: 125px;
  margin-top: 50px;

  aside {
    margin-top: 50px;
  }

  .usa-button-big {

    &:visited {
  		color: $color-white;
  	}
  }

  h3 {
    color: #e31c3d;
    font-size: 3rem;
    margin-top: 25px;
    text-align: center;
  }

  ol,
  ul {
    margin-bottom: 17px;

    li::after{
      display: none;
    }
  }

  ul {
    li {
      &::before {
        content: "•";
      }
    }
  }

  #ato-list,
  #contracts-list,
  #certs-list,
  #testing-list {
    display: none;
  }

  .left-col {
    @include media($medium-screen) {
      @include span-columns(3);

      .usa-sidenav-list{
        position:fixed;
        top:196px;
        bottom:0;
        width:21.23176%;
      }
    }
    @include media($large-screen) {
      .usa-sidenav-list{
        position:fixed;
        top:196px;
        bottom:0;
        width:250px;
        left:114.5;
      }
    }
  }

  #listing-button {
    text-align: center;
  }

  .right-col {
    @include media($medium-screen) {
      @include span-columns(9);
    }
  }

  .usa-grid {
    @include outer-container;
  }
}
