.usa-products{
  margin-top:100px;
  margin-bottom:75px;
  #hashtag{
    font-size:1.6rem;
  }
  .product{
    margin-bottom:10px;
  }
  img{
    width:50px;
    display:inline;
    margin-bottom:5px;
  }
  .product-title{
    display:inline-block;
    vertical-align:top;
  }
  h3{
    margin-left:5px;
    margin-top:0px;
    margin-bottom:0px;
    line-height:1.1;
  }
  h4{
    margin-top:0px;
    margin-bottom:0px;
  }
}
