.product-list-item {
  @include transition(all 0.2s ease);
  background-color: $color-white;
  border: 1px solid lighten($color-gray-light, 15);
  border-radius: 0.25em;
  display: block;
  margin-bottom: 1.5em;

  @include media($small-screen) {
    @include span-columns(6);

    &:nth-child(2n) {
      @include omega;
    }

    &:nth-child(2n+1) {
      clear: left;
    }
  }

  @include media($medium-screen) {
    @include span-columns(4);

    &:nth-child(2n) {
      margin-right: flex-gutter();
    }

    &:nth-child(2n+1) {
      clear: none;
    }

    &:nth-child(3n) {
      @include omega;
    }

    &:nth-child(3n+1) {
      clear: left;
    }
  }

  &:hover {
    box-shadow: 0 0 5px rgba($color-primary, 0.75);
  }

  a {
    @include clearfix;
    display: block;
    padding: 0.75em;
  }

  h3 {
    color: lighten($color-gray-dark, 10);
    font-family: $font-sans;
    font-size: 1.15em;
    line-height: 1.1em;
    margin: 0 0 0.25em;
  }

  p {
    color: lighten($color-gray, 15);
    font-size: 0.85em;
    line-height: 1.3em;
    margin: 0;
  }

  .logo {
    margin: 0 auto;
    width: 35%;

    @include media($medium-screen) {
      float: left;
      margin: 0;
      width: 18%;
    }
  }

  .product-content {
    @include media($medium-screen) {
      float: right;
      width: 75%;
    }
  }
}

.products-header {
  margin-bottom: 2em;
  text-align: center;

  p {
    color: $color-gray;
    margin: 0;
  }
}

.usa-products{
  @include outer-container;
  display: block;
  margin-bottom: 4em;
  margin-top: 3em;

  h1 {
    color: lighten($color-gray-dark, 5);
    font-family: $font-sans;
    line-height: 0.9em;
    margin: 0 0 0.1em;
  }

  h4 {
    margin-bottom: 0;
    margin-top: 0;
  }

  img {
    border-radius: 0.2em;
    width: 100%;
  }

  .product-title{
    display:inline-block;
    vertical-align:top;
  }
}
