.usa-product{
  margin-top:100px;
  margin-bottom:75px;
  img{
    width:250px;
    height:250px;
    display:inline;
  }
  .product-title{
    display:inline-block;
    vertical-align:top;
  }
  h2{
    margin-bottom:0px;
  }
  h4{
    margin-top:0px;
  }
}
