.usa-product {
  margin-top: 25px;
  margin-bottom: 75px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-gray-dark;
  }

  h4 {
    margin-top:0px;
  }

  .additional-testing{
    margin-top: 1em;
  }

  .additional-testing-items{

    li {
      display:inline-block;
      margin-bottom: 0.5em;
      margin-right: 0.5em;
      margin-top:0;

      &::before {
        padding-right:0;
      }

      &::after {
        margin-bottom:0;
      }
    }

    .usa-label {
      background-color:#0071bc;
    }
  }

  .additional-testing-items,
  .reviews-items,
  .ato-items {
    margin-top:15px;

    p {
      color: $color-gray-light;
      margin: 0;

      &.complete {
        color: $color-gray-dark;
      }
    }

    .fa-check-circle {
      color: $color-green;

      &.inprocess{
        color: $color-gold-light;
      }
    }
  }

  .ato-items {
    margin-bottom: 15px;
  }

  .atos, .reviews {
    @include span-columns(6);

    li {
      font-size: 0.95em;
    }
  }

  .atos {
    margin-right: 0;
  }

  .center-content{

    @include media($medium-screen) {
      @include span-columns(6 of 8);
      margin-right: 0;
      padding-left: 1em;
    }

    a {
      &:visited {
        color: $color-primary;
      }
    }

    h2 {
      margin-top:0px;
      margin-bottom:0px;
    }

    iframe {
      margin-bottom:25px;
    }

    .product-title {
      display: inline-block;
      vertical-align: top;
    }

    p {

      &.customers-title {
        margin-bottom: 0;
      }
    }

    .customer-info {
      margin: 0;
      display: inline-block;

      li {
        display: inline;
        margin: 0;
        line-height: 1;

        &:after {
          margin-bottom: 0;
        }
      }
    }

    .customers {
      margin-bottom:0;

      li {
        display: inline-block;
        margin-left: 1em;

        &:before {
          content:"";
        }

        img {
          width:50px;
        }

        &:first-child{
          margin-left:0px;
        }
      }
    }
  }

  .left-content {
    @include media($medium-screen) {
      @include span-columns(2 of 8);
    }

    h4 {
      margin-bottom: 0;
    }

    p {
      margin-top: 10px;
    }

    .disabled-icon {
      color: $color-gray-light;
    }

    .usa-button {
      margin-top: 0.5em;
      width: 100%;
    }

    hr{
      margin-bottom:0;
      border-color:#5b616b;
    }
  }

  .proc-options {
    margin-top: 0;
    margin-bottom:5em;

    h3 {
      font-size: 1.5em;
      margin-top: 0;
    }
    .contract-steps{
      padding-left:25px;
      li{
        list-style-type:initial;
      }
    }
    .contract-info{
      padding-left:25px;
      li{
        list-style-type:initial;
      }
    }
  }

  // .procurement-content {
  //   @include span-columns(6);

  //   h3 {
  //     font-size: 1.5em;
  //     margin-top: 0;
  //   }

  //   ul {

  //     li {
  //       &::after {
  //         display: none;
  //       }

  //       &::before {
  //         display:none;
  //       }
  //     }
  //   }
  //   .contract-steps{
  //     li{
  //       &::before {
  //         content:"•";
  //       }
  //     }
  //   }
  // }

  // .procurement-nav {
  //   @include span-columns(3);
  //   margin-top: 2em;


  //   li {
  //     font-size: 0.9em;
  //   }
  // }

  .product-actions {
    display: none;
    font-size: 0.9em;
    margin: 1em 0 0;

    @include media($medium-screen) {
      display: block;
    }

    a {
      border-bottom: 1px solid lighten($color-gray-light, 10);
      color: $color-gray-dark;
      display: block;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-top: 10px;

      &:hover{
        background-color: $color-gray-lightest;
        text-decoration: none;
      }

      i{
        color: $color-gray-light;
        float: right;
        margin-right: 5px;
      }
    }

    li {
      display: block;
      margin-bottom: 0;
      margin-left: 0;
      margin-top: 0;
      line-height:1;

      &::after {
        display: none;
        padding: 0;
      }

      &::before {
        display: none;
        padding: 0;
      }
    }
  }

  .product-content {
    @include clearfix;
  }

  .product-info {

    h2 {
      color: $color-gray-dark;
      font-size: 2.25em;
      margin-top: 0.5em;
    }

    ul{
      margin-bottom:0.5em;

      li{
        line-height:1.25;

        &:before{
          content: "•";
        }
      }
    }
  }

  .product-details{
    color: $color-gray-dark;
    font-size: 0.9em;
    margin: 1em 0 0.25em;

    h2 {
      color: $color-gray-dark;
      font-size: 2.25em;
    }

    li {
      margin-bottom: 0.1em;

      &::after {
        display: none;
      }
    }

  }

  .product-logo {
    @extend %card;
    background-color: $color-white;
    border-radius: 0.75em;
    padding: 1.75em;

    img {
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 175px;
      width: 100%;
    }
  }

  .product-nav {
    color: $color-gray-light;
    margin-bottom: 2em;

    a {
      color: $color-gray-dark;
      font-weight: bold;
    }

    i {
      margin: 0 0.75em;
    }
  }

  .product-tags {
    display: none;
    margin: 2em 0;

    @include media($medium-screen) {
      display: block;
    }

    h4 {
      margin-bottom: 0.25em;
    }

    li {
      display: inline-block;
      line-height: 0.85em;
      margin: 0 0.5em 0.25em 0;

      &::after {
        display: none;
      }

      &::before {
        display: none;
      }

      a {
        color: $color-gray;
        font-size: 0.9em;
        font-weight: 500;
        line-height: 0.85em;
      }
    }
  }

  .social-icons {
    @include clearfix;
    font-size: 0.85em;
    margin: 1em 0 0;

    @include media($medium-screen) {
      margin: 2em 0 0;
    }

    li {
      @include span-columns(3);
      margin-bottom: 0;
      margin-top: 0;
      text-align: center;
    }
  }

  .usa-sidenav-list {

    li {
      border-top: 1px solid lighten($color-gray-light, 10);

      &:first-child {
        border-top: 0;
      }
    }
  }
}

.max-width-video {
  margin-bottom: 1em;
  max-width: 600px;
}

.video-wrapper {
  display: block;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  height: 0;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
