.usa-product{
  margin-top:100px;
  margin-bottom:75px;
  #hashtag{
    font-size:1.6rem;
  }
  h4{
    margin-top:0px;
  }
  .center-content{
    iframe{
      margin-bottom:25px;
    }
    .product-title{
      display:inline-block;
      vertical-align:top;
    }
    h2{
      margin-top:0px;
      margin-bottom:0px;
    }
    p.customers-title{
      margin-bottom:0;
    }
    ul.customers{
      margin-bottom:0;
      li{
        display:inline-block;
        &:not(:first-child){
          margin-left:15px;
        }
        &:before{
          content:"";
        }
        img{
          width:60px;
        }
        ul.customer-info{
          margin:0;
          display:inline-block;
          li{
            display:inline;
            margin:0;
            line-height:1;
            &:after{
              margin-bottom:0;
            }
          }
        }
      }
    }
  }
  .left-content{
    img{
      width:250px;
      display:inline;
    }
    ul{
      margin-top:10px;
      margin-bottom:0;
      li{
        display:inline-block;
        &:not(:first-child){
          margin-left:15px;
        }
        &:before{
          content:""
        }
      }
    }
    h4{
      margin-bottom:0;
    }
    p{
      margin-top:0;
    }
  }
  .right-content{
    h4{
      margin-bottom:15px;
    }
    ul{
      li{
        &:before{
          content:""
        }
        p{
          margin:0;
          color:#d6d7d9;
        }
        img{
          height:17px;
          width:17px;
        }   
        .complete{
          color:#323a45;
          i{
            color:#2e8540;
          }
        }
        .ato-title{
          color:#5b616b;
        }
        ul.ato{
          margin-left:10px;
          margin-top:10px;
          margin-bottom:0px;
        }
      }
    }
  }
}
