---
layout: default
title: Products
permalink: products/
skip_index: true
---
<section class="usa-products">
  <header class="products-header">
    <h1>Products</h1>
    <p>Discover products that will help your team be more productive.</p>
  </header>
  <ul class="usa-grid" id="product-list">
    {% for product_hash in site.data.products %}{% assign product = product_hash[1] %}
    <li class="product-list-item {% for tag in product.tags %}filter-{{ tag }} {% endfor %}">
      <a href="{{site.baseurl}}/products/{{ product.slug }}/">
        <div class="logo">
          <img src="{% if product.logo_url or product.logo %}{% if product.logo_url %}/{{site.baseurl}}assets/img/product_logos/{{ product.logo_url }}{% else %}{{site.baseurl}}/assets/img/product_logos/{{ product.logo }}{% endif %}{% else %}{{site.baseurl}}/assets/img/apps-logo.svg{% endif %}">
        </div>
        <div class="product-content">
          <h3>{{ product.name }}</h3>
          <p>
            {{ product.short_description | truncate: 140, '...' }}
          </p>
        </div>
      </a>
    </li>
    {% endfor %}
  </div>
</section>
