---
layout: default
skip_index: false
---
<div class="usa-product">
	<div class="usa-grid product-grid">
		{% assign product = page.product_info %}

		<div class="product-nav">
			<a href="/products">
				All Products
			</a>
			<i class="fa fa-caret-right"></i>
			{{ product.name }}
		</div>

		<div class="product-content">
			<div class="left-content">
				{% if product.logo_url %}
					<div class="product-logo">
						<img src="{{ product.logo_url }}">
					</div>
				{% endif %}
				<ul class="product-details">
					{% if product.location %}<li><strong>Location:</strong> {{ product.location }}</li>{% endif %}
					{% if product.founded_year %}<li><strong>Founded:</strong> {{ product.founded_year }}</li>{% endif %}
					{% if product.number_of_employees %}<li><strong>Employees:</strong> {{product.number_of_employees}}</li>{% endif %}
					{% if product.status %}<li><strong>Type:</strong> {{product.status}}</li>{% endif %}
				</ul>
			  <a class="usa-button usa-button-secondary" href="#procurement-options">Procurement Options</a>
				<ul class="social-icons">
					<li>
						{% if product.twitter_handle %}
							<a href="https://twitter.com/{{ product.twitter_handle }}" target="blank">
								<i class="fa fa-twitter fa-2x"></i>
							</a>
						{% else %}
							<i class="fa fa-twitter fa-2x disabled-icon"></i>
						{% endif %}
					</li>
					<li>
						{% if product.linkedin_id %}
							<a href="https://linkedin.com/company/{{ product.linkedin_id }}" target="blank">
								<i class="fa fa-linkedin fa-2x"></i>
							</a>
						{% else %}
							<i class="fa fa-linkedin fa-2x disabled-icon"></i>
						{% endif %}
					</li>
					<li>
						{% if product.angellist_id %}
							<a href="https://angellist.com/{{ product.angellist_id }}" target="blank">
								<i class="fa fa-angellist fa-2x"></i>
							</a>
						{% else %}
							<i class="fa fa-angellist fa-2x disabled-icon"></i>
						{% endif %}
					</li>
					<li>
						{% if product.sales_poc %}
							<a href="mailto:{{ product.sales_poc }}" target="blank">
								<i class="fa fa-envelope-o fa-2x"></i>
							</a>
						{% else %}
							<i class="fa fa-envelope-o fa-2x disabled-icon"></i>
						{% endif %}
					</li>
				</ul>
				<hr/>
				<ul class="product-actions">
					<li>
						<a href="https://github.com/presidential-innovation-fellows/apps-gov/blob/master/_data/products/{{ product.slug | downcase }}.json" target="blank"><i class="fa fa-chevron-right pull-right"></i>Edit in Github</a>
					</li>
					<li>
						<a href="mailto:products-gov+abuse@gsa.gov" target="blank"><i class="fa fa-chevron-right pull-right"></i>Report this product</a>
					</li>
				</ul>

				<ul class="product-tags">
					<h4>Product Tags</h4>
		      {% assign keywords = product.top_keywords | split: ',' %}
		      {% for keyword in product.top_keywords %}
		        <li>
		        	<a href="{{ site.baseurl }}/products/?q={{ keyword | strip }}" id="hashtag">
		        		{{ keyword }}
		      		</a>
		    		</li>
		      {% endfor %}
				</ul>
			</div>
			<div class="center-content">
				<section class="product-info">
					<h2>{{ product.name }}</h2>
					<h4>
						<a href="http://{{ product.url }}"target="blank">
							{{ product.url }}
							<i class="fa fa-external-link"></i>
						</a>
					</h4>
					<p>{{ product.long_description }}</p>
					{% if product.youtube_video_id %}
						<div class="max-width-video">
							<div class="video-wrapper">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ product.youtube_video_id }}" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					{% endif %}
					{% if product.gov_customers %}
						<h4 class="customers-title">Government Customers: <small>(full FPDS list <a href="https://www.fpds.gov/fpdsng_cms/index.php/en/" target="blank">here</a>)</small></h4>
						<ul class="customers">
							{% assign customers = product.gov_customers %}{% for customer in customers %}<li><img src="/img/customers/{{ customer }}.png"></li>{% endfor %}
						</ul>
					{% endif %}
				</section>
				<section class="certifications">
					<h4>Certifications</h4>
					<ul class="certification-items">
						<li>
							<p {% if product.gov_tos %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} Negotiated TOS{% if product.gov_tos %} (<a href="{{ product.gov_tos }}" target="blank">link</a>){% endif %}</p>
						</li>
						<li>
							<p {% if product.pia == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} Privacy Impact Assessment (PIA)</p>
						</li>
						<li>
							<p {% if product.sorn == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} System or Records Notice (SORN)</p>
						</li>
					</ul>
				</section>
				<section class="atos">
					<h4>Authority to Operate (ATO)</h4>
					<ul class="ato-items">
						<li><p {% if product.fedramp_jab %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} FedRamp (JAB){% if product.fedramp_jab %} (<a href="{{ product.fedramp_jab }}" target="blank">link</a>){% endif %}</li>
						<li><p {% if product.fedramp_agency %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} FedRamp (Agency){% if product.fedramp_agency %} (<a href="{{ product.fedramp_agency }}" target="blank">link</a>){% endif %}</li>
						<li><p {% if product.fedramp_csp %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} FedRamp (CSP Package){% if product.fedramp_csp %} (<a href="{{ product.fedramp_csp }}" target="blank">link</a>){% endif %}</li>
						<li><p {% if product.ato_agency %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} Agency Approval{% if product.ato_agency %} (<a href="{{ product.ato_agency }}" target="blank">link</a>){% endif %}</li>
					</ul>
				</section>
				<section class="additional-testing">
					<h4>Additional Testing</h4>
					<ul class="additional-testing-items">
						<li><span class="usa-label {% if product.fedramp_inprocess_jab %}label-active{% endif %}">FedRamp In-Process (JAB)</span></li>
						<li><span class="usa-label {% if product.fedramp_inprocess_agency %}label-active{% endif %}">FedRamp In-Process (Agency)</span></li>
						<li><span class="usa-label {% if product.fedramp_ready %}label-active{% endif %}">FedRamp Ready</span></li>
						<li><span class="usa-label {% if product.fedramp_infra %}label-active{% endif %}">FedRamp Infrastructure</span></li>
						<li><span class="usa-label {% if product.masonry %}label-active{% endif %}">Product Masonry</span></li>
						<li><span class="usa-label {% if product.swamp %}label-active{% endif %}">DHS SWAMP</span></li>
						<li><span class="usa-label {% if product.nccoe %}label-active{% endif %}">NCCoE Review</span></li>
						<li><span class="usa-label {% if product.800_53A %}label-active{% endif %}">NIST SP 800-53A</span></li>
						<li><span class="usa-label {% if product.icd_503 %}label-active{% endif %}">ICD 503</span></li>
						<li><span class="usa-label {% if product.hipaa %}label-active{% endif %}">HIPAA</span></li>
						<li><span class="usa-label {% if product.pci %}label-active{% endif %}">PCI</span></li>
					</ul>
				</section>
			</div>
		</div>
		<section class="proc-options">
			<h3 id="procurement-options">Procurement Options</h3>
			{% assign product_contracts = product.contracts %}
			<div class="usa-accordion">
    		<ul class="usa-unstyled-list">
				{% for product_contract in product_contracts %}
					{% for contracts_hash in site.data.contracts %}{% assign contract = contracts_hash[1] %}
						{% if product_contract == contract.id %}
				      <li>
				        <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-0">
				          {{ contract.name }}
				        </button>
				        <div id="collapsible-0" aria-hidden="false" class="usa-accordion-content">
				          {% if contract.poc %}
										<p>POC: <a href="mailto:{{ contract.poc }}" target="blank">{{ contract.poc }}</a></p>
									{% endif %}
									<p>{{ contract.description }}</p>
									<ul class="contract-steps">
										{% for contract_step in contract.steps %}
											<li>{{ contract_step }}</li>
										{% endfor %}
									</ul>
				        </div>
				      </li>
						{% endif %}
					{% endfor %}
				{% endfor %}
		    </ul>
		  </div>
		</section>
	</div>
</div>
