---
layout: default
skip_index: false
---
<div class="usa-product">
	<div class="usa-grid">
		{% assign product = page.product_info %}
		<div class="usa-width-one-fourth left-content">
			<img src="{{ product.logo_url }}">
      {% assign keywords = product.top_keywords | split: ',' %}
      {% for keyword in product.top_keywords %}
        <a href="{{ site.baseurl }}/products/?={{ keyword | strip }}" id="hashtag">#{{ keyword | strip | replace: ' ', '_' }}</a>
      {% endfor %}
			<br/><br/>
			<h4>Contract Vehicles</h4>
			{% if product.contracts %}
				{% assign contracts = product.contracts %}
				<form>
				  <select name="options" id="options">
			      {% for contract in contracts %}
		        	<option value="value-{{ forloop.index }}">{{ contract | strip }}</option>
			      {% endfor %}
				  </select>
				  <button>Procurement Details</button>
				</form>
			{% else %}
				<p><strong>NONE AVAILABLE</strong></p>
			{% endif %}
			<ul>
				{% if product.twitter_handle %}<li><a href="https://twitter.com/{{ product.twitter_handle }}" target="blank"><i class="fa fa-twitter fa-2x"></i></a></li>{% endif %}
				{% if product.linkedin_in %}<li><a href="https://linkedin.com/company/{{ product.linkedin_id }}" target="blank"><i class="fa fa-linkedin fa-2x"></i></a></li>{% endif %}
				{% if product.slug %}<li><a href="https://angellist.com/{{ product.slug }}" target="blank"><i class="fa fa-angellist fa-2x"></i></a></li>{% endif %}
				{% if product.sales_poc %}<li><a href="mailto:{{ product.sales_poc }}" target="blank"><i class="fa fa-envelope-o fa-2x"></i></a></li>{% endif %}
			</ul>
			<hr/>
			<a href="https://github.com/presidential-innovation-fellows/apps-gov/blob/master/_data/products/{{ product.slug | downcase }}.json" target="blank">Edit this app in Github</a><br/>
			<a href="mailto:apps-gov+abuse@gsa.gov" target="blank">Report this app</a>
		</div>
		<div class="usa-width-one-half center-content">
			{% if product.youtube_video_id %}
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ product.youtube_video_id }}" frameborder="0" allowfullscreen></iframe>
			{% endif %}
			<h2>{{ product.name }}</h2>
			<h4><a href="http://{{ product.url }}"target="blank">{{ product.url }}</a></h4>
			<p>{{ product.short_description }}</p>
			{% if product.gov_customers %}
				{% assign customers = product.gov_customers %}
				<p class="customers-title"><strong>Government Customers: (full <a href="https://www.fpds.gov/fpdsng_cms/index.php/en/" target="blank">FPDS</a> list)</strong></p>
				<ul class="customers">
					{% for customer in customers %}<li><img src="/img/customers/{{ customer.name }}.png">
						<ul class="customer-info">
							<li><i class="fa fa-users"></i></li>
							<li><i class="fa fa-envelope"></i></li>
						</ul>
					</li>{% endfor %}
				</ul>
			{% endif %}
			<h4>Additional Company Info</h4>
			<ul>
				<li><strong>location:</strong> {{ product.location }}</li>
				<li><strong>founded:</strong> {{ product.founded_year }}</li>
				<li><strong>employees:</strong> {{product.number_of_employees}}</li>
				<li><strong>type:</strong> {{product.status}}</li>
				<li><strong>investors:</strong>
		      {% assign investors = product.investors %}
		      {% for investor in investors %}
		        {% if forloop.last == true %}
				      {{ investor }}
				    {% else %}
				      {{ investor }},
				    {% endif %}
		      {% endfor %}</li>
			</ul>
		</div>

		<div class="usa-width-one-fourth right-content">
			<h4>Certifications</h4>
			<ul>
				<li>
					<p {% if product.gov_tos == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>Negotiated TOS</strong></p>
				</li>
				<li>
					<p {% if product.privacy == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>Privacy Policy</strong></p>
				</li>
				<li>
					<p {% if product.pia == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>Privacy Impact Assessment (PIA)</strong></p>
				</li>
				<li>
					<p class="ato-title"><strong>Authority to Operate (ATO)</strong></p>
					<ul class="ato">
						<li><p {% if product.ato[0].agency == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>Agency Approval</strong></li>
						<li><p {% if product.ato[0].fedramp == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>FedRamp (Agency)</strong></li>
						<li><p {% if product.ato[0].jab == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>FedRamp (JAB)</strong></li>
					</ul>
				</li>
			</ul>
			<h4>Additional Testing</h4>
			<ul>
				<li>
					<p {% if product.masonry == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>Compliance Masonry</strong></p>
				</li>
				<li>
					<p {% if product.swamp == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>DHS SWAMP</strong></p>
				</li>
				<li>
					<p {% if product.nccoe == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>NCCoE Review</strong></p>
				</li>
				<li>
					<p {% if product.800_53A == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>NIST SP 800-53A</strong></p>
				</li>
				<li>
					<p {% if product.icd_503 == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>ICD 503</strong></p>
				</li>
				<li>
					<p {% if product.hipaa == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>HIPAA</strong></p>
				</li>
				<li>
					<p {% if product.pci == true %}class="complete"><i class="fa fa-check-circle"></i>{% else %}><i class="fa fa-circle-o"></i>{% endif %} <strong>PCI</strong></p>
				</li>
			</ul>
		</div>
	</div>
</div>
